{% extends "app/layout.html" %}
{% block content %}
<div class="formupdateitem">
    <br>
    <hi>
        <h2>Update Item Form<h2>
    </hi>
    <form class="updateitemsubmission" action="updateitemconfirmation" method="POST">
        {% csrf_token %}
        <div class="form-container">
            <label for="food_id">Food ID</label>
            <span class="separator">:</span>
            <input type="text" id="food_id" value="{{ food.food_id }}" readonly>
        </div>
        {% for field in form %}
        <div class=form-container>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <span class="separator">:</span>
            {{ field }}
        </div>
        {% endfor %}
        
        <div class="button-container">
            <a class="btn btn-danger btn-square buttonsize" href="/menu">Cancel</a>
            <input type="reset" class="btn btn-light btn-square buttonsize" value="Reset">
            <form method="POST" action="{% url 'updateitem_confirmation' %}">
                {% csrf_token %}
                <input type="hidden" name="food_id" value="{{ food.food_id }}">
                <button type="submit" class="btn btn-success btn-square buttonsize">Update</button>
            </form>
        </div>
    </form>
</div>

<style>

    .formupdateitem {
        display: flex;
        flex-direction: column;
        width: 2000px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    h2 {
        font-size: 2em; 
        margin-bottom: 50px;
    }

    .updateitemsubmission {
        width: 100%; 
    }

    .form-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 35px;
        align-items: center;
    }

    .form-container label {
        font-size: 18px;
        display: block;
        text-align: left;
        margin-right: 10px;
        width: 300px;
        text-transform: capitalize;
    }

    .form-container input {
        width: 100%;
        height: 50px;
        padding: 10px;
        box-sizing: inline-box;
        margin-left: 55px;
        font-size: 15px;
    }

    .form-container input#food_id {
        border: none;
        outline: none;
        font-size: 16px;
    }

    .form-container input[type="number"]::-webkit-inner-spin-button,
    .form-container input[type="number"]::-webkit-outer-spin-button {
        height: 40px; /* Adjust the height of the increment/decrement buttons */
    }

    .separator {
        font-size: 20px;
        font-weight: bold;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        float: right;
        font-size: 16px;
        width: 60px;
        height: 30px;
        justify-content: flex-end;
    }

    .btn {
        margin-left: 10px;
    }

    input[type="reset"] {
        border: 1px solid black;
    }

    input[type="reset"]:hover {
        color: white;
        background-color: black;
    }

</style>

{% endblock %}