{% extends "app/layout.html" %}
{% block content %}
<div class=deleteitemconfirmation>
    <h2>Delete Confirmation</h2>
    <br>
    <h5>The food item is deleted</h5>
    <br>
    <div class=content>
        <div class=item-container>
            <label for="food_id">Food  ID</label>
            <span class="separator">:</span>
            <p>{{ food.food_id }}</p>
        </div>
        <div class=item-container>
            <label for="food_name">Name</label>
            <span class="separator">:</span>
            <p>{{ food.food_name }}</p>
        </div>
        <div class=item-container>
            <label for="food_description">Description</label>
            <span class="separator">:</span>
            <p>{{ food.food_description }}</p>
        </div>
        <div class=item-container>
            <label for="food_price">Price</label>
            <span class="separator">:</span>
            <p>{{ food.food_price }}</p>
        </div>
        <div class=item-container>
            <label for="food_available">Available</label>
            <span class="separator">:</span>
            <p>{{ food.food_available }}</p>
        </div>
    </div>
    <br>
    <div class=button-container>
        <button class = "back-button" onclick="location.href='{% url 'displayitem' %}'">Back</a>
    </div>
</div>

<style>

    h5 {
        font-size: 17px;
    }

    .content {
        border: 3px solid black;
        padding: 30px;
        width: 350px;
    }

    .item-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 3px;
        align-items: center;
    }

    .item-container label {
        font-size: 16px;
        text-align: left;
        margin-right: 10px;
        width: 300px;
    }

    .item-container p {
        width: 100%;
        height: 50px;
        box-sizing: inline-box;
        margin-left: 20px;
        font-size: 16px;
        padding: 17px;
    }

    .separator {
        font-size: 18px;
        font-weight: bold;
    }

    .button-container {
        display: flex;
        flex-direction: row;  
        justify-content: flex-start; 
        margin-left: 285px; 
        margin-top: 35px;
    }

    .back-button {
        background-color: #3498db;
        color: white;
        padding: 5px 10px;
        text-align: center;
        font-size: 15px;
        margin: 10px;
    }

    .back-button:hover {
        background-color: #2980b9;
    }


</style>
{% endblock %}