{% extends "app/layout.html" %}
{% block content %}
<div class="all-foods">
    <div class=top>
        <h1>Food Menu</h1>
        <form method="GET" action="{% url 'browsemenu' %}">
            <!-- Filter by Vendor -->
            <label for="vendor_name">Filter by Vendor:</label>
            <select name="vendor_name" id="vendor_name">
                <option value="" {% if not request.GET.vendor_name %}selected{% endif %}>All Vendors</option>
                {% for vendor in vendors %}
                    <option value="{{ vendor.vendor_name }}" {% if request.GET.vendor_name == vendor.vendor_name %}selected{% endif %}>{{ vendor.vendor_name }}</option>
                {% endfor %}
            </select>
        
            <button type="submit">Filter</button>
        </form>
        

        <form method="POST" action="{% url 'additem_form' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ food.id }}">
            <button type="submit" class="checkout-button">Check Out</button>
        </form>
    </div>
    {% if foods %}
        {% for food in foods %}
            <div class = 'item-container'>
                <strong>ID : </strong> {{ food.food_id }} <br>
                <strong>Name : </strong> {{ food.food_name }} <br>
                <strong>Description : </strong> {{ food.food_description }} <br>
                <strong>Price : </strong> {{ food.food_price }} <br>
                <strong>Available : </strong> {{ food.food_available }} <br>
                <strong>Vendor Name : </strong> {{ food.vendor_id.vendor_name }} <br>
                <form method="POST" action="{% url 'addtocart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="food_id" value="{{ food.food_id }}">
                    <button type="submit" class="addtocart-button">Add to Cart</button>
                </form>
            </div>
        {% endfor %}
    {% else %}  
        <h4><strong>Food Menu is empty at this moment.</strong><h4>
    {% endif %}
</div>

<style>

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .top h1 {
        margin: 35px;
    }

    h4 {
        margin: 35px;
        color: red;
    }

    .checkout-button {
        background-color: #4CAF50;
        color: white;
        padding: 5px 10px;
        text-align: center;
        font-size: 15px;
        float: right;  
        margin-top: 60px;
        margin-right: 35px;
        border: none;
        width: 110px;
        height: 50px;
    }
    .add-button:hover {
        background-color: #45a049;
    }

    .item-container {
        border: 3px solid black;
        margin: 35px;
        overflow: hidden; /* Ensure that the box wraps around its content */
        padding: 20px;
        font-size: 17px;
    }

    .addtocart-button {
        background-color: #3498db;
        color: white;
        padding: 5px 10px;
        text-align: center;
        font-size: 15px;
        float: right;  
        margin: 10px;
        border: none;
        width: 80px;
        height: 35px;
    }
    .update-button:hover {
        background-color: #2980b9;
    }

    .delete-button {
        background-color: #e74c3c;
        color: white;
        padding: 5px 10px;
        text-align: center;
        font-size: 15px;
        float: right;  
        margin: 10px;
        border: none;
        width: 80px;
        height: 35px;
    }
    .delete-button:hover {
        background-color: #c0392b;
    }


</style>

{% endblock %}