{% extends "app/layout.html" %}
{% block content %}
<div class="all-order">
    <h2>Customer Order History</h2><br>

    {% if orders %}
        {% for order in orders %}
            <div class = 'item-container'>
                <strong>ID : </strong> {{ order.order_id }} <br>
                <strong>Date : </strong> {{ order.order_date }} <br>
                <strong>Total : </strong>  RM{{ order.order_totalprice }} <br>
                <strong>Delivery Person : </strong> {{ order.deliveryperson_id }} <br>
                <br>
                <strong>Status : </strong> {{ order.order_status }} <br>
            </div>
        {% endfor %}
    {% else %}
        <br><h4><strong>No Order History found.</strong><h4>
    {% endif %}
</div>

<style>

    h2 {
        margin-top: 50px;
        margin-left: 35px;
    }

    h4 {
        color: red;
    }

    .item-container {
        border: 3px solid black;
        margin: 35px;
        overflow: hidden; /* Ensure that the box wraps around its content */
        padding: 20px;
        font-size: 17px;
    }

</style>

{% endblock %}
