{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h4>{{ message }}</h4>

<br>
<p><strong>Customer</strong></p>
<ul>
    <p>Browse Menu<p>
    <p>Add to Cart<p>
    <p>Payment and Checkout<p>
    <p>View Order Status<p>
    <p>View Order History<p>
    <p>View Total Spent<p>
</ul>
<br>
<p><strong>Vendor</strong></p>
<ul>
    <p>Add Food Item<p>
    <p>Update Food Item<p>
    <p>Delete Food Item<p>
    <p>View and Confirm Order<p>
    <p>Update Order Status<p>
    <p>View Order History<p>
    <p>View Revenue<p>
</ul>
<br>
<p><strong>Delivery Person</strong></p>
<ul>
    <p>Select and Confirm Order<p>
    <p>Update Delivery Status<p>
    <p>View Delivery History<p>
</ul>
<br>
<p><strong>System Manager</strong></p>
<ul>
    <p>View Customer<p>
    <p>View Vendorm<p>
    <p>View Delivery Person<p>
    <p>View Sales Report<p>
</ul>

{% endblock %}
