{% extends "app/layout.html" %}

{% block content %}

<br>
<h2>{{ title }}</h2><br>
<h4>{{ message }}</h4>
<h4>All the modules are shown below : </h4>

<br>
<div class=content>
    <table>
        <thead>
            <tr>
                <th>
                    Vendor
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Delivery Person
                </th>
                <th>
                    System Manager
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                <ul>
                    <li><p>Add Food Item<p></li>
                    <li><p>Update Food Item<p></li>
                    <li><p>Delete Food Item<p></li>
                    <li><p>View and Confirm Order<p></li>
                    <li><p>Update Order Status<p></li>
                    <li><p>View Order History<p></li>
                    <li><p>View Revenue<p>
                </ul>
            </td>
            <td>
                <ul>
                    <li><p>Browse Menu<p></li>
                    <li><p>Add to Cart<p></li>
                    <li><p>Payment and Checkout<p></li>
                    <li><p>View Order Status<p></li>
                    <li><p>View Order History<p></li>
                    <li><p>View Total Spent<p></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><p>Select and Confirm Order<p></li>
                    <li><p>Update Delivery Status<p></li>
                    <li><p>View Delivery History<p></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><p>View Customer<p></li>
                    <li><p>View Vendor<p></li>
                    <li><p>View Delivery Person<p></li>
                    <li><p>View Sales Report<p></li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<style>
    .content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 60px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    th {
        border: 2px solid #000000;
        text-align: center;
        padding: 10px;
    }

    td {
        border: 2px solid #000000;
        text-align: left;
        padding: 16px;
    }
</style>
{% endblock %}
