{% extends "app/layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Homecook Food Ordering System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        {% for customer in customers %}
            <p>{{ customer.user.username }} - Customer</p>
        {% endfor %}
        {% for vendor in vendors %}
            <p>{{ vendor.user.username }} - Vendor</p>
        {% endfor %}
        {% for deliveryperson in deliverypersons %}
            <p>{{ deliveryperson.user.username }} - Delivery Person</p>
        {% endfor %}
        {% for manager in managers %}
            <p>{{ manager.user.username }} - Manager</p>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Module 1
        </p>
        <p>
            Module 2
        </p>
    </div>
</div>

{% endblock %}
