{% extends "app/layout.html" %}

{% block content %}

<div class=menu>
    <br />
    {% if is_vendor %}
    <h2>Vendor Menu</h2>
    {% elif is_customer %}
    <h2>Customer Menu</h2>
    {% elif is_delivery_person %}
    <h2>Delivery Person Menu</h2>
    {% elif is_manager %}
    <h2>System Manager Menu</h2>
    {% endif %}

    <br />
    <div class=options-container>
        <table>
            {% if is_vendor %}
            <tr>
                <td>
                    <form class="margintop" action='displayitem' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">Food Menu</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='displayPendingOrder' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">View and Confirm Order</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='displayPreparingOrder' method='GET'>
                        <button type="submit" class="btn btn-info waves-effectt">Update Order Status</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='displayOrderHistory' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">View Order History</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='displayRevenue' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">View Revenue</button><br />
                    </form>
                </td>
            </tr>

            {% elif is_customer %}
            <tr>
                <td>
                    <form class="margintop" action='browsemenu' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">Browse menu</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='addtocart' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">Add to Cart</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='paymentandcheckout' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">Checkout</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='vieworderstatus' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">View order status</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='vieworderhistory' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">View order history</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='viewtotalspent' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">View total spent</button><br />
                    </form>
                </td>
            </tr>
            {% elif is_delivery_person %}
            <tr>
                <td>
                    <form class="margintop" action='module3' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">Module 4</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='module4' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">Module 5</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='module4' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">Module 5</button><br />
                    </form>
                </td>
            </tr>

            {% elif is_manager %}
            <tr>
                <td>
                    <form class="margintop" action='viewcustomer' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">View Customer</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='viewvendor' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">View Vendor</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='viewdeliveryperson' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">View Delivery Person</button><br />
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form class="margintop" action='viewsalesreport' method='GET'>
                        <button type="submit" class="btn btn-info waves-effect">View Sales Report</button><br />
                    </form>
                </td>
            </tr>

            {% else %}

            <tr>
                <td>
                    <p>Undefined User.</p>
                </td>
            </tr>

            {% endif %}
        </table>
    </div>
</div>

<style>

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0; /* Remove default margin to ensure buttons are centered perfectly */
    }

    h2 {        font-size: 3em; 
        font-weight: bold;
        color: #ff6c47; 
        margin-top: 30px;
    }

    .btn {
        margin-bottom: 20px;
        width: 200px;
        height: 50px;
        font-size: 16px;
    }

</style>

{% endblock %}