{% extends "app/layout.html" %}

{% block content %}

<div>
    <br />
    {% if is_employee %}
    <h2>Employee Menu</h2>
    {% elif is_manager %}
    <h2>Manager Menu</h2>
    {% endif %}

    <br />
    <table>
        {% if is_employee %}
        <tr>
            <td>
                <form class="margintop" action='additemform' method='GET'>
                    <button type="submit" class="btn btn-info">Add Item</button><br />
                </form>
            </td>
        </tr>

        <tr>
            <td>
                <form class="margintop" action='module2' method='GET'>
                    <button type="submit" class="btn btn-outline-info waves-effect">Module 2</button><br />
                </form>
            </td>
        </tr>

        {% elif is_manager %}
        <tr>
            <td>
                <form class="margintop" action='module3' method='GET'>
                    <button type="submit" class="btn btn-info">Module 3</button><br />
                </form>
            </td>
        </tr>

        <tr>
            <td>
                <form class="margintop" action='module4' method='GET'>
                    <button type="submit" class="btn btn-outline-info waves-effect">Module 4</button><br />
                </form>
            </td>
        </tr>

        {% else %}

        <tr>
            <td>
                <p>Undefined User.</p>
            </td>
        </tr>

        {% endif %}
    </table>
</div>

{% endblock %}